tbody
    tr
        td 标题:
        td
            p #{dataArr[0].adTitle}
    tr
        td  文章来源:
        td
            p #{dataArr[0].adSource}
    tr
        td  载入时间:
        td
            p #{dataArr[0].adtime}
    tr
        td  文章内容:
        td
            p #{dataArr[0].adContent}
    tr
        td
        td
        td
            a(href='javascript:;') 返回