table
    tbody 
        tr
            td 标题:
            td
                input(type="text",placeholder="标题").adTitle 
        tr
            td 文章来源:
            td
                input(type="text",placeholder="文章来源").adSource 
        tr
            td 文章内容:
            td
                textarea(class='adContent',placeholder="文章内容")
        tr
            td(colspan='2') 
                input(type="submit",value='提交',class='adSub')