tbody 
    tr
        td 姓名:
        td
            input(type="text",placeholder="姓名").realname 
    tr
        td 年龄:
        td
            input(type="text",placeholder="年龄").age 
    tr
        td 地址:
        td
            input(type="text",placeholder="地址").address 
    tr
        td 学科:
        td
            input(type="text",placeholder="学科").subject 
    tr
        td 邮箱:
        td
            input(type="text",placeholder="邮箱").email 
    tr
        td(colspan='2') 
            input(type="submit",value='提交',class='subInfo')