table
  tbody
    each val in dataArr
        tr
            td 
                | 公司
            td
                | #{val.enname}
        tr
            td 
                | 职位
            td
                | #{val.recruittile}
        tr
            td
                | 内容
            td
                | #{val.content}
    