table
    tbody
        tr
            td 账户
            td
                p.beuser 姓名
        tr
            td 密码
            td
                input.password(type='password', placeholder='请输入密码')
        tr
            td
            td
                input.enterpass(type='password', placeholder='请确认密码')
        tr
            td 学校
            td
                p.beschool 学校
        tr
            td
            td.submit
                a.updatePass(href='javascript:;') 确定更改