table
    tbody
        tr
            td 账号:
            td
                p.user 
        tr
            td 公司:
            td
                p.enterprice 
        tr
            td 老板:
            td
                input(type="text",placeholder="请输入老板姓名").boos 
        tr
            td 地址:
            td
                input(class="text",placeholder="公司地址").address 
        tr
            td 福利:
            td
                textarea(class='enwelfare',placeholder="薪资要求")
        tr
            td 规模:
            td
                input(type="text",placeholder="公司规模").enterpriceSize
        tr
            td(colspan='2') 
                input(type="submit",value='提交',class='enterpriceInfo')