tbody
    tr
        td 用户:
        td
            | #{username}
    tr
        td 回复信息:
        td
            textarea(class='messUser',placeholder="回复信息")
    tr
        td
        td
            a(href="javascript:;").send 发送