body {
  background: #f6f6f8;
}
.enterpriceDL dt {
  font: 19px / 71px '微软雅黑';
}
.enterpriceDL dt > a {
  box-sizing: border-box;
  color: #414a60;
}
.enterpriceDL dd:nth-of-type(1) {
  font: 12px / 12px '微软雅黑';
  color: #8d92a1;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e7ed;
}
.enterpriceDL dd:nth-of-type(2) {
  font: 12px / 40px '微软雅黑';
  color: #8d92a1;
}
.enterpriceDL dd:nth-of-type(2) > span:nth-of-type(2) {
  float: right;
}
