body {
  background: #f6f6f8;
}
.navi {
  width: 1203px;
  height: 40px;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-shadow: -600px 0 0 #ffffff, 600px 0 0 #ffffff;
          box-shadow: -600px 0 0 #ffffff, 600px 0 0 #ffffff;
}
.listHeader > li:nth-of-type(2) > a {
  color: #00d7bc;
}
.naviLIst {
  font: 12px / 40px '微软雅黑';
  color: #414a60;
  position: relative;
}
.naviLIst > li {
  position: relative;
  float: left;
  padding-left: 30px;
  width: 90px;
}
.naviLIst > li dl {
  width: 200px;
  font: 13px / 53px '微软雅黑';
  position: absolute;
  background: #fff;
  display: none;
  border: 1px solid #e3e7ed;
}
.naviLIst > li dl > dd a {
  color: #8d92a1;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.naviLIst > li dl > dd a:hover {
  color: #55cbc4;
}
.naviLIst > li:hover {
  cursor: pointer;
}
.posterContent {
  width: 1203px;
  height: 445px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 27px;
  font: 15px / 50px '微软雅黑';
  color: #585858;
}
.posterContent > div {
  width: 100%;
  height: 88px;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #f2f2f5;
}
.posterContent > div > dl:nth-of-type(1) {
  width: 300px;
}
.posterCTN > dl {
  float: left;
}
.posterCTN > dl dt a {
  color: #8d92a1;
}
.posterCTN > dl:nth-of-type(1),
.posterCTN > dl:nth-of-type(2) {
  float: left;
  font: 15px / 27px '微软雅黑';
  color: #8d92a1;
}
.posterCTN > dl:nth-of-type(1) > dt:nth-of-type(1) > span:nth-of-type(1),
.posterCTN > dl:nth-of-type(2) > dt:nth-of-type(1) > span:nth-of-type(1) {
  color: #55cbc4;
}
.posterCTN > dl:nth-of-type(1) > dt:nth-of-type(1) > span:nth-of-type(2),
.posterCTN > dl:nth-of-type(2) > dt:nth-of-type(1) > span:nth-of-type(2) {
  color: #fc863e;
  margin-left: 12px;
}
.posterCTN > dl:nth-of-type(1) > dd,
.posterCTN > dl:nth-of-type(2) > dd {
  font: 12px / 23px '微软雅黑';
}
.posterCTN > dl:nth-of-type(1) > dd > span:nth-of-type(2),
.posterCTN > dl:nth-of-type(2) > dd > span:nth-of-type(2),
.posterCTN > dl:nth-of-type(1) > dd > span:nth-of-type(3),
.posterCTN > dl:nth-of-type(2) > dd > span:nth-of-type(3) {
  margin-left: 12px;
}
.posterCTN > dl:nth-of-type(1) {
  width: 200px;
}
.posterCTN > dl:nth-of-type(2) {
  margin-left: 180px;
}
.posterCTN > dl:nth-of-type(2) > dt:nth-of-type(1) > span:nth-of-type(1) {
  color: #8d92a1;
}
.posterCTN > p {
  font: 12px / 38px '微软雅黑';
  color: #4a4160;
  float: right;
}
