body {
  background: #f6f6f8;
}
.navi {
  width: 1203px;
  height: 100px;
  margin: 0 auto;
  box-shadow: -400px 0 0 #ffffff, 350px 0 0 #ffffff;
  background: #fff;
  padding-top: 35px;
  box-sizing: border-box;
}
.navi > dl {
  height: 46px;
  font: 12px / 46px '微软雅黑';
  margin-left: 30px;
}
.navi > dl a:hover {
  color: #55cbc4;
}
.navi > dl > dt {
  float: left;
}
.navi > dl > dt a {
  padding-left: 7px;
  color: #414a60;
}
.navi > dl > dd {
  float: left;
}
.navi > dl > dd a {
  padding: 0 20px;
  color: #8d92a1;
}
.enterpriceCotent {
  height: 540px;
  width: 1203px;
  margin: 0 auto;
  overflow: hidden;
  font: 15px / 50px '微软雅黑';
  color: #585858;
}
.enterpriceCotent > div {
  width: 401px;
  height: 175px;
  background: #fff;
  border: 10px solid #f6f6f8;
  padding-top: 5px;
  padding: 0 25px;
  box-sizing: border-box;
  float: left;
}
.listHeader > li:nth-of-type(3) > a {
  color: #00d7bc;
}
